@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color:#160e0e;
}
::selection{
  color: #ffff;
  background: rgb(241, 225, 120);
}
body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  background: linear-gradient(to bottom, #0bddac 0%, #cad7ca 100%);
}
.wrapper{
  background: rgb(234, 212, 212);
  max-width: 600px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 100px;
  box-shadow: 20px 30px 10px rgba(0,0,0,0.1);
  
}

.displayPokemon{
  background: rgb(233, 216, 216);
  max-width: 550px;
  width: 100%;
  margin: 200px auto;
  padding: 25px;
  border-radius: 300px;
  box-shadow: 20px 30px 10px rgba(0,0,0,0.1);
  max-height: 600px;
  display:flex;
  flex-direction: column;
  align-items:center;
  

}

.displayPokemon h2, h3{ 
margin:5px;

}


.wrapper header{
  font-size: 15px;
  font-weight: 300;
  margin-left: 50px;
  
}


.wrapper .pokelist{
  max-height: 450px;
  max-width: 500px;
  margin-left: 25px;
  overflow-y: hidden;
  overflow:scroll;
  
}
.pokelist li{
  position: relative;
  list-style: none;
  height: 60px;
  line-height: 60px;
  margin-bottom: 8px;
  background: #f8c0e4;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: auto;
}


.buttonRemove {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #8E49E8;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  transition: all 0.3s ease;
  float:right;
}

 .buttonBack{
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 0px;
  background: #8E49E8;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  transition: all 0.3s ease;
  float:inline-start;
}



